{% extends 'layouts/base.html.njk' %}

{% set pageTitle = 'About' %}

{% block styles %}
    <style>

        @media (max-width : 992px) {

            .navbar-nav {
                background-color: #FE9DBA!important;
            }
        }

    </style>

{% endblock %}

{% block content %}

    <section class="about pt-2 pt-md-5 pb-md-4">
        <div class="container">
            <div class="col-xl-9 mx-auto">
                <h1 class="font-weight-light">
                    Hello !!<br>

                    My Name is Maria Angelidou and I am a Web / Graphic Designer gor 4+ years now.
                    I'm familiar with Adobe Creative Suite and I do most of my work using Photoshop, Illustrator, InDesign
                    and Adobe XD -
                </h1>
            </div>
        </div>
    </section>

{% endblock %}



