{% set pageTitle = 'Poster Projects' %}
{% set pageClass = 'projects-inner' %}

{% extends 'layouts/base.html.njk' %}

{% block content %}

    <section class="posters pt-2 pt-md-5 pb-md-4">
        <div class="container-fluid">
            <div class="col-lg-11 mx-auto">
                <div class="row pb-4">
                    <div class="col-md-9 col-lg-6 col-xl-5">
                        <h1 class="text-black display-5 font-weight-400">
                            Poster Projects
                        </h1>
                    </div>
                    <div class="col-lg-6 col-xl-7">
                        <div class="d-flex pt-3">
                            <div class="p-2">
                                <a href="/{{ path('project-drasi-tora-1.html') }}">
                                    <img class="img-fluid rounded border border-grey" src="{{ asset('images/projects-inner/posters/img-1.jpg') }}" alt="project">
                                    <br>
                                    <small class="small-1">POSTER DESIGN FOR COMPETITION</small>
                                </a>
                            </div>
                            <div class="p-2">
                                <img class="img-fluid rounded border border-grey" src="{{ asset('images/projects-inner/texture.jpg') }}" alt="project">
                                <br>
                                <small class="small-2">DESIGN INSPIRATION</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row text-center text-lg-left">
                    <div class="col-lg-4">
                        <a href="/{{ path('project-a-markides-1.html') }}">
                            <img class="img-fluid rounded border border-grey" src="{{ asset('images/projects-inner/posters/img-2.jpg') }}" alt="project">
                            <br>
                            <small class="small-3">POSTER DESIGN FOR EXHIBITION</small>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a href="/{{ path('project-drasi-tora-2.html') }}">
                            <img class="img-fluid rounded border border-grey" src="{{ asset('images/projects-inner/posters/img-3.jpg') }}" alt="project">
                            <br>
                            <small class="small-3">POSTER DESIGN FOR COMPETITION</small>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a href="/{{ path('project-a-markides-2.html') }}">
                            <img class="img-fluid rounded border border-grey" src="{{ asset('images/projects-inner/posters/img-4.jpg') }}" alt="project">
                            <br>
                            <small class="small-3">POSTER DESIGN FOR EXHIBITION</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block footer %}{% endblock %}




