{% set pageTitle = 'Logo & B.I Projects' %}
{% set pageClass = 'projects-inner' %}

{% extends 'layouts/base.html.njk' %}

{% block content %}

    <section class="logo-and-bi pt-2 pt-md-5 pb-md-4">
        <div class="container-fluid">
            <div class="col-lg-11 mx-auto">
                <div class="row pb-4">
                    <div class="col-md-9 col-lg-6 col-xl-5">
                        <h1 class="text-black display-5 font-weight-400">
                            Logo & B.I
                            Projects
                        </h1>
                    </div>
                    <div class="col-lg-6 col-xl-7">
                        <div class="d-flex pt-3">
                            <div class="pr-2 p-lg-2">
                                <a href="/{{ path('project-all-works-group.html') }}">
                                    <img class="img-fluid rounded border border-grey" src="{{ asset('images/projects-inner/logos/img-1.jpg') }}" alt="project">
                                    <br>
                                    <p class="small-1 line-height mt-1">LOGO DESIGN FOR PLUMBER COMPANY</p>
                                </a>
                            </div>
                            <div class="p-2">
                                <img class="img-fluid rounded border border-grey" src="{{ asset('images/projects-inner/texture.jpg') }}" alt="project">
                                <br>
                                <p class="small-2 line-height mt-1">DESIGN INSPIRATION</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row text-center text-lg-left">
                    <div class="col-lg-4">
                        <a href="/{{ path('project-ibwe-art-gallery.html') }}">
                            <img class="img-fluid rounded border border-grey" src="{{ asset('images/projects-inner/logos/img-2.jpg') }}" alt="project">
                            <br>
                            <p class="small-3 mt-1 mb-3 mb-lg-0">LOGO DESIGN FOR ART GALLERY </p>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a href="/{{ path('project-og-legal.html') }}">
                            <img class="img-fluid rounded border border-grey" src="{{ asset('images/projects-inner/logos/img-3.jpg') }}" alt="project">
                            <br>
                            <p class="small-3 mt-1 mb-3 mb-lg-0">LOGO DESIGN FOR LAWYER COMPANY</p>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a href="/{{ path('project-i-cream-bites.html') }}">
                            <img class="img-fluid rounded border border-grey" src="{{ asset('images/projects-inner/logos/img-4.jpg') }}" alt="project">
                            <br>
                            <p class="small-3 mt-1 mb-4 mb-lg-0">LOGO DESIGN FOR ICE-CREAM SHOP</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block footer %}{% endblock %}




