{% extends 'layouts/base.html.njk' %}

{% set pageTitle = 'Projects' %}

{% block styles %}
    <style>
        body,.navbar.bg-white {
            background-color: #FE9DBA!important;
        }

        @media (max-width : 992px) {

            .navbar {
                background-color: #FE9DBA!important;
            }
        }
    </style>

{% endblock %}

{% block content %}

    <section class="overview bg-carnation-pink pt-md-2 pb-md-2">
        <div class="container">
            <div class="card-columns ml-1 mr-1">
                <div class="card">
                    <a href="/{{ path('projects-logo-and-bi.html') }}">
                        <img class="card-img-top" src="https://via.placeholder.com/455x360" alt="Card image cap">
                    </a>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://via.placeholder.com/455x360" alt="Card image cap">
                </div>
                <div class="card">
                    <img class="card-img" src="https://via.placeholder.com/455x740" alt="Card image">
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://via.placeholder.com/455x360" alt="Card image cap">
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://via.placeholder.com/455x360" alt="Card image cap">
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block footer %}

{% endblock %}
