{% set pageTitle = 'O.G Legal' %}
{% set pageClass = 'project' %}

{% extends 'layouts/base.html.njk' %}

{% block content %}

    {% set project_nav = {
        back_url: 'projects-logo-and-bi.html',
        next_url: 'project-all-works-group.html',
        prev_url: 'project-i-cream-bites.html',
        intro_title: 'LOGO DESIGN',
        intro_img: 'images/project/og-legal/intro.jpg'
    } %}

    {% include 'layouts/project-nav.html.njk'  %}

    <section class="project-intro pt-2">
        <div class="container">
            <div class="col-lg-9 col-xl-7 mx-auto">
                <h1 class="mb-4 display-6 font-weight-400 text-center">O.G Legal</h1>
                <hr class="mb-4 light">
                <p class="mt-4 small text-center">
                    O.G Legal is a new law company that requested to create their brand identity ( it includes logo,
                    website and business cards).
                    This logo selection highlights an elegant and modern style, but at the same time, it emits
                    professionalism and trust.
                </p>
            </div>
        </div>
    </section>

    <section class="project-images pt-4">
        <div class="container">
            <div class="col-lg-8 mx-auto">
                <img class="lazyload mb-4 img-fluid border border-grey" data-src="{{ asset('images/project/og-legal/img-1.jpg') }}" alt="project">
            </div>
        </div>
    </section>

{% endblock %}

{% block footer %}{% endblock %}




