{% set pageTitle = 'Illustration Projects' %}
{% set pageClass = 'projects-inner' %}

{% extends 'layouts/base.html.njk' %}

{% block content %}

    <section class="illustrations pt-2 pt-md-5 pb-md-4">
        <div class="container-fluid">
            <div class="col-lg-11 mx-auto">
                <div class="row pb-1 pb-lg-4">
                    <div class="col-lg-6 col-xl-5">
                        <h1 class="text-black display-5 font-weight-400 text-sm-center text-lg-left">
                            Illustration Projects
                        </h1>
                    </div>
                    <div class="col-lg-6 col-xl-7">
                        <div class="d-flex pt-3 flex-wrap flex-lg-nowrap justify-content-center">
                            <div class="p-lg-2">
                                <a href="/{{ path('project-museum-promo.html') }}">
                                    <img class="img-fluid rounded border border-grey" src="{{ asset('images/projects-inner/illustrations/img-1.jpg') }}" alt="project">
                                    <br>
                                    <p class="small-1 line-height mt-1 text-center text-lg-left">ILLUSTRATION FOR MUSEUM PROMOTION</p>
                                </a>
                            </div>
                            <div class="d-none d-lg-block p-lg-2">
                                <img class="img-fluid rounded border border-grey" src="{{ asset('images/projects-inner/texture.jpg') }}" alt="project">
                                <br>
                                <p class="small-2 line-height mt-1">DESIGN INSPIRATION</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row text-center text-lg-left">
                    <div class="col-lg-4">
                        <a href="/{{ path('project-welcome-to-tamara.html') }}">
                            <img class="img-fluid rounded border border-grey" src="{{ asset('images/projects-inner/illustrations/img-2.jpg') }}" alt="project">
                            <br>
                            <p class="small-3 mt-1 mb-3 mb-lg-0">BOOK ILLUSTRATION FOR A STORY</p>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a href="/{{ path('project-the-waitress.html') }}">
                            <img class="img-fluid rounded border border-grey" src="{{ asset('images/projects-inner/illustrations/img-3.jpg') }}" alt="project">
                            <br>
                            <p class="small-3 mt-1 mb-3 mb-lg-0">BOOK ILLUSTRATION FOR A STORY</p>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a href="/{{ path('project-qobrix.html') }}">
                            <img class="img-fluid rounded border border-grey" src="{{ asset('images/projects-inner/illustrations/img-4.jpg') }}" alt="project">
                            <br>
                            <p class="small-3 mt-1 mb-4 mb-lg-0">DESIGN ILLUSTRATION FOR A STORY</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block footer %}{% endblock %}




