{% set pageTitle = 'All Works Group' %}
{% set pageClass = 'project' %}

{% extends 'layouts/base.html.njk' %}

{% block content %}

    {% set project_nav = {
        back_url: 'projects-logo-and-bi.html',
        next_url: 'project-ibwe-art-gallery.html',
        prev_url: 'project-og-legal.html',
        intro_title: 'LOGO DESIGN',
        intro_img: 'images/project/all-works/intro.jpg'
    } %}

    {% include 'layouts/project-nav.html.njk'  %}

    <section class="project-intro pt-2">
        <div class="container">
            <div class="col-lg-9 col-xl-7 mx-auto">
                <h1 class="mb-4 display-6 font-weight-400 text-center">All Works Group</h1>
                <hr class="mb-4 light">
                <p class="mt-4 small text-center">
                    In this project I was assigned to create a logo for a new company "All Works Group".
                    In my portfolio I showcase the three final logo ideas I presented to the client.
                    It was an interesting project with freedom of creativity.
                    The client have a plumber company and provides services in England.
                </p>
            </div>
        </div>
    </section>

    <section class="project-images pt-4">
        <div class="container">
            <div class="col-lg-8 mx-auto">
                <img class="lazyload mb-4 img-fluid border border-grey" data-src="{{ asset('images/project/all-works/img-1.jpg') }}" alt="project">
                <img class="lazyload mb-4 img-fluid border border-grey" data-src="{{ asset('images/project/all-works/img-2.jpg') }}" alt="project">
            </div>
        </div>
    </section>

{% endblock %}

{% block footer %}{% endblock %}




