{% set pageTitle = 'I-CREAM BITES' %}
{% set pageClass = 'project' %}

{% extends 'layouts/base.html.njk' %}

{% block content %}

    {% set project_nav = {
        back_url: 'projects-logo-and-bi.html',
        next_url: 'project-og-legal.html',
        prev_url: 'project-ibwe-art-gallery.html',
        intro_title: 'LOGO DESIGN',
        intro_img: 'images/project/icream/intro.jpg'
    } %}

    {% include 'layouts/project-nav.html.njk'  %}

    <section class="project-intro pt-2">
        <div class="container">
            <div class="col-lg-9 col-xl-7 mx-auto">
                <h1 class="mb-4 display-6 font-weight-400 text-center">I-CREAM BITES</h1>
                <hr class="mb-4 light">
                <p class="mt-4 small text-center">
                    This project is dedicated for the sweet treats of life, Ice cream. I present the logo of this brand
                    in various placements like the signs outside of the ice-cream shop, on the ice-cream tubes etc.
                    I had the chance to unfold my creativity, explore my illustration skills and make something tasty.
                    The process was interesting because I firstly drawn ice creams then I digitalised my drawing to
                    present the final logo with bright colors and textures.
                    I used illustrator brushes and photoshop to complete it.
                </p>
            </div>
        </div>
    </section>

    <section class="project-images pt-4">
        <div class="container">
            <div class="col-lg-8 mx-auto">
                <img class="lazyload mb-4 img-fluid border border-grey" data-src="{{ asset('images/project/icream/img-1.jpg') }}" alt="project">
                <img class="lazyload mb-4 img-fluid border border-grey" data-src="{{ asset('images/project/icream/img-2.jpg') }}" alt="project">
                <img class="lazyload mb-4 img-fluid border border-grey" data-src="{{ asset('images/project/icream/img-3.jpg') }}" alt="project">
                <img class="lazyload mb-4 img-fluid border border-grey" data-src="{{ asset('images/project/icream/img-4.jpg') }}" alt="project">
                <img class="lazyload mb-4 img-fluid border border-grey" data-src="{{ asset('images/project/icream/img-5.jpg') }}" alt="project">
            </div>
        </div>
    </section>

{% endblock %}

{% block footer %}{% endblock %}




