{% set pageTitle = 'IBWE Art Gallery' %}
{% set pageClass = 'project' %}

{% extends 'layouts/base.html.njk' %}

{% block content %}

    {% set project_nav = {
        back_url: 'projects-logo-and-bi.html',
        next_url: 'project-i-cream-bites.html',
        prev_url: 'project-all-works-group.html',
        intro_title: 'LOGO DESIGN',
        intro_img: 'images/project/ibwe/intro.jpg'
    } %}

    {% include 'layouts/project-nav.html.njk'  %}

    <section class="project-intro pt-2">
        <div class="container">
            <div class="col-lg-9 col-xl-7 mx-auto">
                <h1 class="mb-4 display-6 font-weight-400 text-center">IBWE Art Gallery</h1>
                <hr class="mb-4 light">
                <p class="mt-4 small text-center">
                    In this project I was assigned to create the logo and website of IBWE ART GALLERY.
                    Below you can see the three final logo ideas I presented to the client.
                    It was an interesting project about Ibwe’s sculptors that have unique traditional techniques
                    and they use them on their amazing stones.
                </p>
            </div>
        </div>
    </section>

    <section class="project-images pt-4">
        <div class="container">
            <div class="col-lg-8 mx-auto">
                <img class="lazyload mb-4 img-fluid border border-grey" data-src="{{ asset('images/project/ibwe/img-1.jpg') }}" alt="project">
                <img class="lazyload mb-4 img-fluid border border-grey" data-src="{{ asset('images/project/ibwe/img-2.jpg') }}" alt="project">
                <img class="lazyload mb-4 img-fluid border border-grey" data-src="{{ asset('images/project/ibwe/img-3.jpg') }}" alt="project">
            </div>
        </div>
    </section>

{% endblock %}

{% block footer %}{% endblock %}




