{% extends 'layouts/base.html.njk' %}

{% set pageTitle = 'Projects' %}

{% block styles %}
    <style>
        body,.navbar.bg-white {
            background-color: #FE9DBA!important;
        }

        .overview .project-card {
            margin-bottom: 1.2rem;
        }


        @media (max-width : 992px) {

            .navbar {
                background-color: #FE9DBA!important;
            }

        }


        @media (min-width : 1400px) {

            .overview .project-card {
                margin-bottom: 1.8rem;
                margin-left: 0.6rem;
            }

        }
    </style>

{% endblock %}

{% block content %}

    <section class="overview bg-carnation-pink pt-md-2 pb-md-2">

            <div class="row no-gutters justify-content-center jQueryEqualHeight">
                <div class="col-10 col-lg-10 col-xl-11">
                    <div class="card-columns text-center">
                        <div class="project-card">
                            <a href="/{{ path('projects-logo-and-bi.html') }}">
                                <img class="rounded img-fluid w-100" src="{{ asset('images/projects/logos.png') }}" alt="logos">
                            </a>
                        </div>
                        <div class="project-card">
                            <img class="rounded img-fluid w-100" src="{{ asset('images/projects/posters.png') }}" alt="posters">
                        </div>
                        <div class="project-card middle">
                            <img class="rounded img-fluid w-100" src="{{ asset('images/projects/websites.png') }}" alt="websites">
                        </div>
                        <div class="project-card">
                            <img class="rounded img-fluid w-100" src="{{ asset('images/projects/illu.png') }}" alt="Card image cap">
                        </div>
                        <div class="project-card">
                            <img class="rounded img-fluid w-100" src="{{ asset('images/projects/other.png') }}" alt="Card image cap">
                        </div>
                    </div>
                </div>
            </div>
    </section>

{% endblock %}

{% block javascripts %}

    <script>
        function resizeCard(){
            if (jQuery(window).width() < 1400) {
                const cardHeight = $('.project-card img').height();
                console.log()

                const middle = $('.project-card.middle img');
                middle.height(function (index, height) {
                    return ((cardHeight*2)+22);
                });
            }
        }
        
        $(window).on('load', function(event) {
            resizeCard();
        });

        window.onresize = function(event) {
            resizeCard();
        };
    </script>

{% endblock %}

{% block footer %}

{% endblock %}
