{% set pageTitle = 'All Works Group' %}
{% set pageClass = 'project' %}

{% extends 'layouts/base.html.njk' %}

{% block content %}

    {% set project_nav = {
        back_url: 'projects-logo-and-bi.html',
        next_url: 'project-all-works-group.html',
        prev_url: 'project-all-works-group.html',
        intro_title: 'LOGO DESIGN',
        intro_img: 'images/project/og-legal/intro.jpg'
    } %}

    {% include 'layouts/project-nav.html.njk'  %}

    <section class="project-intro pt-2">
        <div class="container">
            <div class="col-lg-9 col-xl-7 mx-auto">
                <h1 class="mb-4 display-6 font-weight-400 text-center">All Works Group</h1>
                <hr class="mb-4 light">
                <p class="mt-4 small text-center">
                    ly dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's sIn this projec
                    ttandard dummy text ever since the 1500s, when an unknown printer took a galley of type and In this project
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the In this project
                    leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
                    1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                </p>
            </div>
        </div>
    </section>

    <section class="project-images pt-4">
        <div class="container">
            <div class="col-lg-8 mx-auto">
                <img class="mb-4 img-fluid border border-grey" src="{{ asset('images/project/og-legal/img-1.jpg') }}" alt="project">
            </div>
        </div>
    </section>

{% endblock %}

{% block footer %}{% endblock %}




