.projects-inner{

  .line-height{
    line-height: 1.3;
  }

  .main {
    opacity: 0;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
  }

  @media (max-width : 992px) {
    h1 {
      font-size:2.7rem;
      margin-bottom:0;
    }
    .navbar-nav {
      background-color: #FE9DBA!important;
    }

  }
}